[general]
ann_path=/home/pierre/lego-assembly-helper/dataset/output_dataset/annotations
val_ann_path=/home/pierre/lego-assembly-helper/validation/annotations
# path from which to load pascal yolo weights
ckpt_path=ckpt/yolo-tiny-166.meta
labels=baseblock5 baseblock6 baseblock1 baseblock15 baseblock7 baseblock16 baseblock10 baseblock4 baseblock18 baseblock3 baseblock9 baseblock17
exclusive=True
epoch=1000
learning_rate=1e-5
# save every iter
save_iter=640

[net]
batch=50
subdivisions=64
height=448
width=448
channels=3
momentum=0.9
decay=0.0005

learning_rate=0.0001
policy=steps
steps=20,40,60,80,20000,30000
scales=5,5,2,2,.1,.1
max_batches=40000

[detection]
threshold=0.1
classes=12
coords=4
rescore=1
side=7
num=2
softmax=0
sqrt=1
jitter=.2
object_scale=1
noobject_scale=.5
class_scale=1
coord_scale=5
